USE [master]
GO
/****** Object:  Database [InformationManagementSystem]    Script Date: 07/11/2018 9:38:53 AM ******/
IF NOT EXISTS (SELECT name FROM sys.databases WHERE name = N'InformationManagementSystem')
BEGIN
CREATE DATABASE [InformationManagementSystem]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'InformationManagementSystem', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\InformationManagementSystem.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'InformationManagementSystem_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL13.MSSQLSERVER\MSSQL\DATA\InformationManagementSystem_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
END

GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [InformationManagementSystem].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [InformationManagementSystem]
GO
USE [InformationManagementSystem]
GO
/****** Object:  User [CYBAGE\pradnyap]    Script Date: 07/11/2018 9:38:53 AM ******/
IF NOT EXISTS (SELECT * FROM sys.database_principals WHERE name = N'CYBAGE\pradnyap')
CREATE USER [CYBAGE\pradnyap] FOR LOGIN [CYBAGE\pradnyap] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[Contact]    Script Date: 07/11/2018 9:38:54 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF NOT EXISTS (SELECT * FROM sys.objects WHERE object_id = OBJECT_ID(N'[dbo].[Contact]') AND type in (N'U'))
BEGIN
CREATE TABLE [dbo].[Contact](
	[ContactId] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [nvarchar](50) NULL,
	[LastName] [nvarchar](50) NULL,
	[EmailId] [nvarchar](100) NULL,
	[PhoneNumber] [nvarchar](10) NULL,
	[Status] [bit] NOT NULL,
 CONSTRAINT [PK_Contact] PRIMARY KEY CLUSTERED 
(
	[ContactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
END
GO
USE [master]
GO
